In [1]:
import pandas as pd

创建一个角S1的Series，里面包含元素-1.2，3.7，2.5，-8.2，6.3.创建后输出

In [4]:
s1 = pd.Series([-1.2,3.7,2.5,-8.2,6.3])
s1

0   -1.2
1    3.7
2    2.5
3   -8.2
4    6.3
dtype: float64

打印s1的所有索引以及所有元素值

In [5]:
print(s1.index)
print(s1.values)

RangeIndex(start=0, stop=5, step=1)
[-1.2  3.7  2.5 -8.2  6.3]

创建一个s2的Series，里面包含元素1，2，3，4，5，并且对应索引5，4，3，2，1.创建后进行输出。

In [9]:
s2=pd.Series([1,2,3,4,5],index=[5,4,3,2,1])
s2

5    1
4    2
3    3
2    4
1    5
dtype: int64

输出s2里按位置顺序排序为第2的元素

In [10]:
s2.iloc[1]

np.int64(2)

输出s2里按标签对应从5到3（包括）范围内的元素。

In [11]:
s2.loc[5:3]

5    1
4    2
3    3
dtype: int64

通过一个字典来创建Series。s3。字典的键为：小李，小陈，小张，小曾，小邓，值为82，93，91，78，68。并输出

In [14]:
s3 = pd.Series({"小李":82,"小陈":93,"小张":91,"小曾":78,"小邓":68})
s3

小李    82
小陈    93
小张    91
小曾    78
小邓    68
dtype: int64

把s3里小张标签对应的值改为95,再输出s3

In [17]:
s3.loc["小张"]=95
s3

小李    82
小陈    93
小张    95
小曾    78
小邓    68
dtype: int64

输出s3里所有值大于80且小于90的元素

In [21]:
s3[(s3 > 80) & (s3 < 90)]

小李    82
dtype: int64

In [1]:
import pandas as pd

创建s1，包含元素[92，67，70，88，76]以及对应索引["小明","小红","小杰","小丽","小华"]。
创建s2，包含元素[95，85，60，79，76]以及对应索引["小明","小杰","小宇","小娟","小彤"]。创建后打印

In [2]:
s1 = pd.Series([92,67,70,88,76],index=["小明","小红","小杰","小丽","小华"])
s2 = pd.Series([95,85,60,79,76],index=["小明","小杰","小宇","小娟","小彤"])
print(s1)
print(s2)

小明    92
小红    67
小杰    70
小丽    88
小华    76
dtype: int64
小明    95
小杰    85
小宇    60
小娟    79
小彤    76
dtype: int64

让s1和s2的相同索引元素之间进行相加，若无法找到对应索引值则将缺失值用0代替

In [3]:
s1.add(s2,fill_value=0)

小丽     88.0
小华     76.0
小娟     79.0
小宇     60.0
小彤     76.0
小明    187.0
小杰    155.0
小红     67.0
dtype: float64

输出s1的统计学相关数据，包括最大值，最小值，平均值，标准差。

In [4]:
s1.describe()

count     5.000000
mean     78.600000
std      10.990905
min      67.000000
25%      70.000000
50%      76.000000
75%      88.000000
max      92.000000
dtype: float64

把s1更新为所有数字加5后的结果，并运行输出。

In [7]:
s1 = s1 + 5
print(s1)

小明    97
小红    72
小杰    75
小丽    93
小华    81
dtype: int64

根据成绩输出等级

In [14]:
def get_grade_from_score(score):
    if score >= 90:
        return"A"
    elif score >= 80:
        return"B"
    elif score >= 70:
        return"C"
    elif score >= 60:
        return"D"
    else:
        return"不及格"
s1.apply(get_grade_from_score)

小明    A
小红    C
小杰    C
小丽    A
小华    B
dtype: object